*{
    margin: 0;
    padding: 0; 
}
header {
    position: relative;
}

.banner {
    width: 100%;
    height: 440px;
    background-image: url('./img/banner.png');
    background-size: 100% 100%;
}

@font-face {
    font-family: 'HYCuSong-J';
    src: url('../../source/fonts/HYCuSong.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.banner .text1 {
    font-size: 66px;
    font-family: 'HYCuSong-J';
    font-weight: normal;
    color: #966338;
    text-align: center;
    padding-top: 114px;
}

.banner .text2 {
    width: 925px;
    margin: 0 auto;
    font-size: 24px;
    font-family: 'HYCuSong-J';
    font-weight: normal;
    color: #E0A26D;
    text-align: center;
    padding-top: 32px;
}

.message3 {
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    background-image: url(./img/2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 24px;
    padding-bottom: 155px;
}

.message3 .titleTop {
    height: 40px;
    line-height: 40px;
    font-family: 'HYCuSong-J';
    width: 1200px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 30px;
    color: #8B5A2B;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.message3 .contentContainer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex: 1fr 1fr;
    margin-top: 47px;
    gap: 24px;
}

.message3 .contentContainer>div {
    width: 570px;
    height: 230px;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 18px;
    padding-top: 20px;
}

.message3 .contentContainer .text1 {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    color: #8B5A2B;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.message3 .contentContainer .text1 img {
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 18px;
}

.message3 .contentContainer p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 0%, 60%);
    line-height: 24px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.message3 .contentContainer .textContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 16px;
    margin-bottom: 28px;
}

.message3 .contentContainer .textContainer div {
    height: 20px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #597476;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.message3 .contentContainer .textContainer div img {
    float: left;
}

.message3 .contentContainer .toMore {
    font-weight: bold;
    font-size: 12px;
    color: hsl(29, 53%, 56%);
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.orderContainer {

    display: flex;
    width: 1200px;
    height: 278px;
    background-image: url(./img/3.png);
    margin: 0 auto;
    margin-top: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.orderContainer .orderLeft {
    padding-left: 43px;
    padding-top: 43px;
    width: 712px;
    background-color: #ffffff;
    position: relative;
}

.orderContainer .orderLeft p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 0%, 60%);
    line-height: 24px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.orderLeft .search {
    position: absolute;
    margin: 0;
    padding-left: 42px;
    top: 161px;
    left: 0;
    width: 712px;
    height: 44px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.orderLeft .search input {
    width: 390px;
    height: 48px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #EAEAEA;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(170, 170, 170, 1);
    padding-left: 16px;
    margin-right: 13px;
}

.orderLeft .search input:focus {
    place-content: center;
    outline: none;
    /* 移除默认的焦点轮廓 */
    color: #333;
    /* 设置输入文本的颜色 */
}

.orderLeft .search div {
    width: 115px;
    height: 48px;
    background-color: #ffffff;
    font-size: 14px;
    color: #8B5A2B;
    line-height: 48px;
    text-align: center;
    font-style: normal;
    text-transform: none;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 8px;
    margin: 0 13px;
    cursor: pointer;
}

.orderLeft .search button {
    width: 109px;
    height: 48px;
    background-color: rgba(139, 90, 43, 1);
    font-size: 14px;
    color: #ffffff;
    line-height: 48px;
    text-align: center;
    font-style: normal;
    text-transform: none;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 8px;
    margin: 0 13px;
    cursor: pointer;
}

.orderLeft span {
    position: absolute;
    left: 42px;
    bottom: 34px;
    font-weight: 400;
    font-size: 12px;
    color: #AAAAAA;
    line-height: 18px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.orderContainer .orderRight {
    height: 100%;
    flex-grow: 1;
    background-color: rgba(243, 231, 200, 1);
    position: relative;
}

.orderContainer .orderRight .remindTitle {
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
    font-size: 26px;
    color: #8B5A2B;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.orderContainer .orderRight .remindText {
    width: 380px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 69px;
    font-weight: 400;
    font-size: 16px;
    color: #5B7979;
    line-height: 24px;
    text-align: center;
    font-style: normal;
    text-transform: none;
}

.message3 .questionTitle {
    width: 100%;
    height: 227px;
    position: relative;
}

.questionTitle .title {
    display: flex;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100px; */
    height: 50px;
    /* background-color: #fff; */
}

.questionTitle .title span {
    font-size: 34px;
    color: rgba(139, 90, 43, 1);
    margin: 0 5px;

}

.questionTitle .title::after {
    content: "";
    width: 67px;
    height: 2px;
    position: absolute;
    background-color: rgba(26, 61, 46, 1);
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
}

.questionTitle .smallTitle {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.questionTitle .smallTitle span {
    font-size: 12px;
    color: rgba(180, 165, 128, 1);
    margin: 0 5px;
}

.question {
    width: 1200px;
    height:111px;
    margin: 0 auto;
    background-color: #ffffff;
    padding-left: 32px;
    padding-top: 38px;
    padding-right: 59px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.question .questionName {
    font-weight: bold;
    font-size: 26px;
    color: #8B5A2B;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.question .questionName img {
    width: 38px;
    height: 38px;
    float: right;
    rotate: 134deg;
    scale: 0.8;
}

.question .anwser {
    margin-top: 74px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}
.questionContainer .active{
    height: 365px;
}
.questionContainer .active .questionName img{
    rotate: 0deg;
}