*{
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    position: relative;
}

.messageContent {
    width: 1200px;
    margin: 0 auto;
}

.messageContent1 {
    display: flex;
}

.messageContent1>div {
    width: 330px;
    background-color: #FFFFFF;
    margin: 0 10px;
    padding: 44px 25px;
}

.messageContent1>div>span {
    width: 336px;
    height: 36px;
    font-family: PingFang SC, PingFang SC;
    font-weight: bold;
    font-size: 26px;
    color: #3E2723;
    text-align: left;
    font-style: normal;
    text-transform: none;
    margin-bottom: 12px;
}

.messageContent1>div>p {
    margin-top: 12px;
    font-size: 16px;
    color: #999999;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.message_2 {
    height: 1371px
}

.btnBox {
    display: block;
    width: 698px;
    height: 45px;
    margin: 0 auto;
}

.btnBox button {
    width: 126px;
    height: 45px;
    background: rgba(230, 201, 172, 1);
    border-radius: 51px 51px 51px 51px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    font-style: normal;
    text-transform: none;
    cursor: pointer;
    margin: 0 5px;
}

.btnBox button.active {
    background-color: RGBA(139, 90, 43, 1);
}

.messageContent2 .contentBox {
    margin-top: 62px;
    margin-bottom: 86px;
    width: 1200px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 21px;
}

.messageContent2 .contentBox>div {
    width: 386px;
    height: 418px;
    background-color: #FFFFFF;
}

.messageContent2 .contentBox>div>span {
    margin-left: 25px;
    font-size: 14px;
    color: #777777;
    line-height: 21px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.messageContent2 .contentBox>div>span>img {
    margin-right: 5px;
}

.messageContent2 .contentBox>div>div {
    margin: 11px 0;
    margin-left: 25px;
    height: 28px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 500;
    font-size: 20px;
    color: #8B5A2B;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.messageContent2 .contentBox>div>p {
    margin-left: 25px;
    width: 351px;
    height: 48px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.messageContent2 .contentBox .avater {
    width: 400px;
    ;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: flex;

}

.messageContent2 .contentBox .avater img.one {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 5px;
}

.messageContent2 .contentBox .avater span {
    margin-right: 206px;
}
.message_3{
    height: 700px;
}

.messageContent3 {
    height: 419px;
    display: flex;
}

.messageContent3 div {
    width: 561px;
    height: 100%;
}

.messageContent3 .right {
    background-image: url("./img/3-1.png");
    position: relative;
}

.messageContent3 .left>div {
    width: 521px;
    height: 84px;
    display: flex;
    margin-top: 16px;
}

.messageContent3 .left div.img {
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.messageContent3 .left img {
    width: 60px;
    height: 60px;
}

.messageContent3 .left span {
    font-weight: bold;
    font-size: 20px;
    color: #8B5A2B;
    text-align: left;
    font-style: normal;
    text-transform: none;
    margin-bottom: 16px;
}

.messageContent3 .left p {
    font-weight: 400;
    font-size: 16px;
    color: hsl(165, 9%, 54%);
    line-height: 24px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.messageContent3 .right>div {
    position: relative;
}

.messageContent3 .right .text {
    width: 300px;
    height: 90px;
    background-color: #FFFFFF;
    padding: 20px 14px;
    box-shadow: 0px 4px 18px 0px rgba(224, 218, 205, 0.5);
    border-radius: 8px 8px 8px 8px;
    position: absolute; 
    top: 337px;
    left: 291px;
}

.messageContent3 .right .text img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 7px;
}

.messageContent3 .right .text span {
    height: 40px;
    line-height: 40px;
}

.messageContent3 .right .text p {
    font-size: 14px;
    color: #6E817F;
    text-align: left;
    font-style: normal;
    text-transform: none;
}